.general {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.tools {
  @extend .general;
  height: 100px;
  background-color: #f1f2f7;
  border-top: 1px solid $toolsBorder;
  border-bottom: 1px solid $toolsBorder;

  &_counts {
    @extend .general;
    background-color: white;

    &_total {
      border: 2px solid $toolsBorder;
      border-radius: 3px;
    }
  }

  &_labels {
    @extend .tools_counts;
    margin-left: 10px;
  }

  &_settings {
    @extend .general;
    margin-left: 10px;
  }
}
