html{
  overflow-y: auto !important;
}
.v-input__slot::after {
  border-color: $tooltipInputBorder !important;
}

.v-text-field input {
  font-weight: lighter;
  font-size: 14px;
}

.v-label {
  transition: none !important;
  color: $fontColor !important;
  text-transform: uppercase;
}

.v-input__slot:before {
  border-color: transparent !important;
  transition: none !important;
}
